<div class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink] = "['/films']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"class="navbar-brand" >Movies</a>
        </li>
        <li>
          <a >Program</a>
        </li>
        <li>
          <a >About Us</a>
        </li>
        <li>
          <a [routerLink]="['/films/new']"routerLinkActive="active">Add Film</a>
        </li>
        <li><a href="">Submit</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            Jury
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li >
              <a href="">Jury One</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!authService.isAuthenticated()" [routerLink]="['user/login']">Login</a>
            <a *ngIf="authService.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{authService.currentUser.firstName}} </a>
          </li>
        </ul>
      </div>
      <form id="searchForm"  class="navbar-form navbar-right"  >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Films" >
        </div>
        <button class="btn btn-default" >
          Search
        </button>
      </form>
    </div>
  </div>
</div>
