<div class="container">
  <a [href]="film?.trailerUrl">
  <img [src]="film?.imageUrl" [alt]="film?.name" class = "film-image">
  </a>
  <div class="row" class="text-center">
    <div class="col-md-11">
      <a [href]="film?.trailerUrl"><h2>{{film?.name}} </h2></a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12" >
      <p>{{film?.description}} </p>
    </div>
  </div>

</div>
