<h1> New Film</h1>
<hr>
<div class = "col-md-6">
<h3> [Create Film Form will go here]</h3>
<br/>
<br/>
<button type="submit" class = "btn btn-primary">Save</button>
<button type="button" class = "btn btn-default"(click)="cancel()">Cancel</button>
</div>
