<!-- <div class="well hoverwell thumbnail"> -->
  <!-- <h2 class="text-center">{{ film?.name }}</h2> -->

  <div class="card" [routerLink]= "['/films', film.id]" >
    <img class="card-img-top" src="{{ film?.imageUrl }}" alt="Poster">
    <div class="card-img-overlay">
      <h4 class="card-title">{{ film?.name }}</h4>
      <div>Show Date: {{ film?.date }}</div>
      <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="film?.time">
        Show Time: {{ film?.time }}
        <span *ngSwitchCase="'4:00 pm'"> (Early Start)</span>
        <span *ngSwitch="' 8:30 pm'"> (Late Start)</span>
        <span *ngSwitchDefault> (Normal Start)</span>
      </div>
      <div>Duration: {{ film?.duration }} minutes</div>
      <div>Director: {{ film?.director }}</div>
      <div>Country: {{ film?.country }}</div>
      <a [href]="film.imdbUrl" class="btn btn-primary stretched-link">Imdb Link</a>
    </div>
  </div>
  <!-- </div> -->


<!--

  <div class="col-md-6 ">
    <div class="card">
      <img class=" card-img-top" src="{{ film?.imageUrl }}" alt="Poster" />
    </div>
  </div>

  <div calss="col-md-6">
    <div>Show Date: {{ film?.date }}</div>
    <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="film?.time">
      Show Time: {{ film?.time }}
      <span *ngSwitchCase="'4:00 pm'"> (Early Start)</span>
      <span *ngSwitch="' 8:30 pm'"> (Late Start)</span>
      <span *ngSwitchDefault> (Normal Start)</span>
    </div>
    <div>Duration: {{ film?.duration }} minutes</div>
    <div>Director: {{ film?.director }}</div>
    <div>Country: {{ film?.country }}</div>
    <div *ngIf="film?.imdbUrl">
      ImdbLink: <a [href]="film.imdbUrl">{{ film?.name }} </a>
    </div>
  </div> -->

  <br />

