
  <div class="container-fluid">


    <div class="row">
      <div *ngFor="let film of films" class="col-md-4">
        <app-film-thumbnail
          #thumbnail (click) = "handleThumbnailClick(film.name)"
          [film]="film"
        ></app-film-thumbnail>
      </div>
    </div>
  </div>


<!-- <app-film-thumbnail #thumbnail
[film] = 'film1' ></app-film-thumbnail>
<h3>{{thumbnail.someProperty}}</h3>

<button class="btn btn-info"  (click)="thumbnail.logFoo()">Button on the parent</button>
</div> -->

<!-- THIS IS A BIG GIT TESST -->
<!-- OPTION1 accessing data from the child component on the parent. -->
<!-- eventClick is mactching the output property on the child Component -->
<!-- app-film-thumbnail - matches the selector on the film-thumbnail.ts file
 handleEventClicked - we pass as a parameter the event from the event emitter in our child component which we set to "foo"  -->
<!-- handleEventClicked is a method on our parent component (film-list) -->
<!-- $event refers to the data emitted with our event from the eventEmitter/You can only pass a single value with an eventEmitter/ if you need to send multiple values you ned to  wrap them in an object first -->

<!-- OPTION2:
Accessing public methods on a child component through Template Referenece Variables. They alow us to
specify a variable that points to a component (in our case film-thumbnail.component.ts), and then
you can access any public methods or properties on the child component. In our case we can access the public logFoo method
in the export class of the child component.
Example: In the html of the parent referencing the child component: <film-thumbnail >
Add a variable name to this child component like this: <app-film-thumbnail #thumbnail> Now we can use the variable everywhere in our template. -->
