/* You can add global styles to this file, and also import other style files */
.toast-success {
  background-color: green
}
.toast-erro {
  background-color: red
}
.toast-info{
  background-color: #2f96b4
}
.toast-warning{
  background-color: #f89406
}
h2{ color: #1589FF; font-weight: bold}

a {color: #2DDE16}


